.App {
  margin-top: 1%;
  aspect-ratio: 1 / 1;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
}

.product-header {
  background-color: black;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #DFD097;
  font-weight: 600;
  letter-spacing: 1px;
}

.App-link {
  color: #61dafb;
}

.product {
  display: flex;
}

.product-image-container {
  aspect-ratio: 1.2 / 1;
  width: 50%;
}

.product-details-container {
  width: 50%;
  margin-top: 2.7%;
  margin-right: 2.5%;
}

img {
  width: 100%;
  height: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
